<div class="box">
  <div class="box-title">&#127911; Top 10 Artistas</div>
  <div class="box-body">
    <div class="loading" *ngIf="loading()">Cargando top artistas...</div>
    <div class="artists-list" *ngIf="!loading()">
      @for (artist of artists(); track artist.name; let i = $index) {
        <div class="artist-item">
          <div class="rank">{{ i + 1 }}</div>
          <img [src]="artist.image" [alt]="artist.name" class="artist-image" (error)="onImageError($event)" />
          <div class="artist-info">
            <div class="artist-name">{{ artist.name }}</div>
            <div class="artist-listeners">{{ artist.listeners | number }} oyentes</div>
          </div>
        </div>
      }
    </div>
  </div>
</div>